/* Settings for footer */

#footer{
    background-color: $wega-dark-grey;
    background-image: -moz-linear-gradient(center top , lighten($wega-dark-grey, 20%), $wega-dark-grey);
    color:white;
}
/* Settings for supportBadges */
#supportBadges {
	text-align: center;
	padding: emCalc(30px) 0px;
}

#supportBadges a{
	margin: 0px emCalc(20px);
}

#supportBadges img{
	max-width: emCalc(300px);
	max-height: emCalc(60px);
}

#supportBadges br {
    margin:emCalc(20px);
    display:block;
}