<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="columns large-9">
        <div class="text-justify">
            <h2>Personenseite</h2>
            <p>Blindtext</p>
        </div>
    </div>
    <div class="columns large-3">
        <div data-template="html-nav:page-nav-combined"/>
        <!--<div data-template="html:page-nav-digital-edition"></div>-->
<!--        <div data-template="html:page-nav-project-links"></div>-->
<!--        <div data-template="html:page-nav-dev-links"></div>-->
    </div>
</div>