<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="columns large-9">
        <div class="text-justify" data-template="html:print-doc-text"/>
        <!--<div class="text-justify" data-template="core:print-doc-xml"/>-->
        <!--<div class="text-justify" data-template="core:show-doc-facsimile"/>-->
    </div>
    <div class="columns large-3">
        <!--<div data-template="html-nav:page-nav-combined"/>-->
    </div>
</div>