<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="columns large-8">
        <div data-template="html:print-doc-text"/>
        <!--<div class="text-justify" data-template="core:print-doc-xml"/>-->
        <!--<div class="text-justify" data-template="core:show-doc-facsimile"/>-->
    </div>
    <div class="columns large-4">
        <div data-template="html-nav:doc2-context-nav"/>
        <div data-template="html:doc2-facets"/>
    </div>
</div>