<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="columns large-8">
        <div class="text-justify wrap wega">
            <h1>Carl-Maria-von-Weber-Gesamtausgabe (WeGA)</h1>
            <p>Die WeGA ist eine von der Akademie der Wissenschaften und der Literatur (Mainz) geförderte Unternehmung mit dem Ziel, bis zum 200. Todestag Webers im Jahr 2026 seine sämtlichen Kompositionen, Briefe, Tagebücher und Schriften in einer wissenschaftlich-kritischen Gesamtausgabe vorzulegen. Die Ausgabe wird ca. 50 Notenbände einschließlich Kritischer Berichte, 10 Bände Briefe, ca. 8 Bände Tagebücher, 2 Bände Schriften, ein Werkverzeichnis sowie mehrere Dokumentenbände umfassen. Alle Textteile (d.h. ausschließlich der Notentexte) werden zunächst auf diesen Seiten als Digitale Edition publiziert. Sie wird unter der Leitung von Prof. Dr. Gerhard Allroggen an zwei Arbeitsstellen in der Staatsbibliothek zu Berlin – Preußischer Kulturbesitz und am Musikwissenschaftlichen Seminar Detmold/Paderborn vorbereitet. Parallel zur Ausgabe erscheint die Reihe Weber-Studien.</p>
            <p>Hauptamtliche Mitarbeiter der Ausgabe sind Dr. Markus Bandur und Frank Ziegler in Berlin sowie Prof. Dr. Joachim Veit und Peter Stadler in Detmold. An der Briefausgabe ist Eveline Bartlitz (Berlin) als freie Mitarbeiterin beteiligt; die Tagebuchausgabe wird von Dagmar Beck erstellt, an den Arbeiten in Berlin beteiligt sich außerdem Solveig Schreiter. An der Werkausgabe, die von Schott Music in Mainz verlegt wird, arbeiten auch externe Bandherausgeber mit.</p>
        </div>
        <div class="divider2"/>
        <div class="text-justify" data-template="html:print-latest-news"/>
    </div>
    <div class="columns large-4">
        <!--<div data-template="html-nav:page-nav-combined"/>-->
<!--        <div data-template="html-nav:page-nav-digital-edition"></div>-->
<!--        <div data-template="html-nav:page-nav-project-links"></div>-->
<!--        <div data-template="html:page-nav-dev-links"></div>-->

        <div class="section-container accordion" data-section="accordion" data-options="one_up: false;">
            <section class="active">
                <p class="title" data-section-title=""><a href="#" data-template="lang:translate">digitalEdition</a></p>
                <div class="content" data-section-content="">
                    <ul class="side-nav">
                        <!--{html-nav:page-nav-digital-edition($node, $model, $lang)//xhtml:li}-->
                        <li><a href="html-link:link-to-current-app($lang || '/A002068')">Weber Person</a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, 'A002068', lang:get-language-string('correspondence', $lang)), '/'))">Weber <span data-template="lang:translate">correspondence</span></a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, 'A002068', lang:get-language-string('diaries', $lang)), '/'))">Weber <span data-template="lang:translate">diaries</span></a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, 'A002068', lang:get-language-string('writings', $lang)), '/'))">Weber <span  href="#" data-template="lang:translate">writings</span></a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, 'A002068', lang:get-language-string('works', $lang)), '/'))">Weber <span  data-template="lang:translate">works</span></a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, lang:get-language-string('indices', $lang)), '/'))" data-template="lang:translate">indices</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <p class="title" data-section-title=""><a href="#" data-template="lang:translate">printedEdition</a></p>
                <div class="content" data-section-content="">
                    <ul class="side-nav">
                        <!--{html-nav:page-nav-printed-edition($node, $model, $lang)//xhtml:li}-->
                        <li><a href="html-link:link-to-current-app(string-join(($lang, lang:get-language-string('volumes',$lang)), '/'))" data-template="lang:translate">volumes</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <p class="title" data-section-title=""><a href="#" data-template="lang:translate">aboutTheProject</a></p>
                <div class="content" data-section-content="">
                    <ul class="side-nav">
                        <!--{html-nav:page-nav-project-links($node, $model, $lang)//xhtml:li}-->
                        <li><a href="html-link:link-to-current-app(string-join(($lang, lang:get-language-string('indices',$lang), lang:get-language-string('news',$lang)),'/'))" data-template="lang:translate" >news</a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, replace(lang:get-language-string('editorialGuidelines',$lang), '\s', '_')),'/'))" data-template="lang:translate">editorialGuidelines</a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, replace(lang:get-language-string('projectDescription',$lang), '\s', '_')), '/'))" data-template="lang:translate">projectDescription</a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, lang:get-language-string('publications',$lang)), '/'))" data-template="lang:translate">publications</a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, lang:get-language-string('bibliography',$lang)), '/'))" data-template="lang:translate">bibliography</a></li>
                        <li><a href="html-link:link-to-current-app(string-join(($lang, lang:get-language-string('contact',$lang)), '/'))" data-template="lang:translate">contact</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <div data-template="html:print-todays-events"/>
        
    </div>
</div>