<?xml version="1.0" encoding="UTF-8"?>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]--><!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="de"> <!--<![endif]-->
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Weber-Gesamtausgabe web application</title>
        <link rel="stylesheet" href="resources/css/app.css"/>
        <script type="text/javascript" src="resources/js/vendor/custom.modernizr.js"/>
    </head>
    <body>
        <div class="row" id="header">
            <h1>Carl-Maria-von-Weber-Gesamtausgabe</h1>
            <hr/>
        </div>
        <div class="row" id="content"/>
        <div class="row" id="footer">
            <hr/>
            <div id="supportBadges">
                <a href="http://validator.w3.org/check?uri=referer">
                    <img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" height="31" width="88" title="W3C Markup Validation Service"/>
                </a>
                <a href="http://exist-db.org">
                    <img src="http://exist-db.org/exist/icons/existdb-128.png" alt="powered by eXist" title="eXist-db Open Source Native XML Database"/>
                </a>
                <a href="http://staatsbibliothek-berlin.de">
                    <img src="http://www.kek-spk.de/fileadmin/templates/maintemplate/images/staatsbibliothek-berlin-logo.png" alt="Staatsbibliothek zu Berlin - Preußischer Kulturbesitz" title="Staatsbibliothek zu Berlin - Preußischer Kulturbesitz"/>
                </a>
                <a href="http://www.adwmainz.de">
                    <img src="http://www.digitale-akademie.de/typo3temp/pics/047556cd4e.jpg" alt="Akademie der Wissenschaften und der Literatur Mainz" title="Akademie der Wissenschaften und der Literatur Mainz" width="44"/>
                </a>
                <a href="http://www.tei-c.org">
                    <img src="http://www.tei-c.org/About/Badges/powered-by-TEI.png" alt="Powered by TEI" title="TEI: Text Encoding Initiative"/>
                </a>
                <br/>
                <a href="http://www.uni-paderborn.de/">
                    <img src="http://www.uni-paderborn.de/fileadmin/hochschulmarketing/corporatedesign/uni-logo600x158.png" alt="Universität Paderborn" title="Universität Paderborn"/>
                </a>
                <a href="http://www.hfm-detmold.de">
                    <img src="http://www.freischuetz-digital.de/resources/pix/hfm-logo.png" alt="Hochschule für Musik Detmold" title="Hochschule für Musik Detmold"/>
                </a>
            </div>
        </div>
        <script type="text/javascript" src="resources/js/vendor/jquery.js"/>
        <script type="text/javascript" src="resources/js/foundation/foundation.js"/>
        <script type="text/javascript" src="resources/js/foundation/foundation.section.js"/>
        <script type="text/javascript">
            $(document).foundation();
        </script>
    </body>
</html>