<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="columns large-8">
        <div class="text-justify wega wrap">
            <div  class="large-3 columns">
                <a class="th" href="resources/pix/Scaler.jpg"> <img src="resources/pix/Scaler.jpg" alt="Weber, gemalt von Bardua" class="portrait" height="133" width="100"/> </a>
               
            </div>
            <div  class="large-9 columns">
                <h2>Weber, Carl Maria von</h2><p>Weber, Carl Maria Friedrich Ernst von</p>
                <p>Pseudonyme: <span>Melos</span>; <span>Knaster, Simon</span>; <span>Niemand</span></p><p><img src="resources/pix/baptism.png" title="Taufe" alt="iconbaptism"/><span class="date">20. November 1786</span> in <span class="place">Eutin</span></p><p class="death"><img src="resources/pix/death.png" title="Tod" alt="icondeath"/><span class="date">5. Juni 1826</span> in <span class="place">London</span></p><p class="occupation">Komponist, Pianist, Kapellmeister, Musikschriftsteller</p><p class="residence">Wirkorte:
                    Breslau, Prag, Dresden</p>
            </div>
        </div>
        
        <div class="section-container auto" data-section="tabs">
                <section class="active">
                    <p class="title">
                        <a href="#Biographie">Biographie</a>
                    </p>
                    <div class="content" data-slug="Biographie">
                        <p>Section 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </section>
                <section class="section">
                    <p class="title">
                        <a href="#XML">XML</a>
                    </p>
                    <div class="content">
                        <p>Section 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </section>
                <section class="section">
                    <p class="title">
                        <a href="#Wikipedia">Wikipedia</a>
                    </p>
                    <div class="content" data-slug="Wikipedia">
                        <p>Section 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </section>
                <section>
                    <p class="title">
                        <a href="#DNB">DNB</a>
                    </p>
                    <div class="content" data-slug="DNB">
                        <p>Section 4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </section>
                <section class="section">
                    <p class="title">
                        <a href="#ADB">ADB</a>
                    </p>
                    <div class="content" data-slug="ADB">
                        <p>Section 5. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </section>
                <section class="section">
                    <p class="title">
                        <a href="#PND-Beacon">PND-Beacon</a>
                    </p>
                    <div class="content" data-slug="PND-Beacon">
                        <p>Section 6. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </section>
            </div>
    </div>
    
    <div class="columns large-4">
        <div class="section-container accordion" data-section="accordion" data-options="one_up: ture;">
            <section class="active">
                <p class="title" data-section-title="">
                    <a href="#" data-template="lang:translate">contacts</a>
                </p>     
                <div class="content" data-section-content="">
                    <ul class="large-block-grid-4 small-block-grid-4">
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A000213" title="Weber, Caroline von (317 Briefe)"><img src="resources/pix/Scaler_005.jpg" alt="Weber, Caroline von" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A002078" title="Weber, Gottfried (94 Briefe)"><img src="resources/pix/Scaler_016.jpg" alt="Weber, Gottfried" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A001166" title="Lichtenstein, Hinrich (75 Briefe)"><img src="resources/pix/Scaler_020.jpg" alt="Lichtenstein, Hinrich" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A000235" title="Brühl, Carl Graf von (73 Briefe)"><img src="resources/pix/Scaler_007.jpg" alt="Brühl, Carl Graf von" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A000584" title="Gänsbacher, Johann (72 Briefe)"><img src="resources/pix/Scaler_027.jpg" alt="Gänsbacher, Johann" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A001590" title="Rochlitz, Friedrich (58 Briefe)"><img src="resources/pix/Scaler_008.jpg" alt="Rochlitz, Friedrich" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A001693" title="Schlesinger, Adolph Martin (54 Briefe)"><img src="resources/pix/Scaler_014.jpg" alt="Schlesinger, Adolph Martin" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A001002" title="Kind, Johann Friedrich (39 Briefe)"><img src="resources/pix/Scaler_012.jpg" alt="Kind, Johann Friedrich" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A000838" title="Hiemer, Franz Carl (37 Briefe)"><img src="resources/pix/Scaler_018.jpg" alt="Hiemer, Franz Carl" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A002074" title="Weber, Franz Anton von (35 Briefe)"><img src="resources/pix/Scaler_013.jpg" alt="Weber, Franz Anton von" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A001036" title="Koch, Friederike (34 Briefe)"><img src="resources/pix/Scaler.png" alt="Koch, Friederike" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/de/A001313" title="Meyerbeer, Giacomo (30 Briefe)"><img src="resources/pix/Scaler_009.jpg" alt="Meyerbeer, Giacomo" height="55" width="40"/></a></li>
                    </ul>
                </div>
                
            </section>
     
        </div>
        
        <div class="section-container accordion" data-section="accordion" data-options="one_up: ture;">
            <section class="active">
                <p class="title" data-section-title="">
                    <a href="#" data-template="lang:translate">album</a>
                </p>     
                <div class="content" data-section-content="">
                    <ul class="large-block-grid-5 small-block-grid-5">
                        <li><a href="http://www.weber-gesamtausgabe.de/digilib/servlet/Scaler?fn=persons/A0020xx/A002068/weber_bardua.jpg&amp;dw=400&amp;dh=600" class="lytebox" data-lyte-options="group:person-iconography" data-title="Weber, gemalt von Bardua"><img src="resources/pix/Scaler_024.jpg" alt="Weber, gemalt von Bardua" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/digilib/servlet/Scaler?fn=persons/A0020xx/A002068/weber_schimon.jpg&amp;dw=400&amp;dh=600" class="lytebox" data-lyte-options="group:person-iconography" data-title="Weber, gemalt von Schimon"><img src="resources/pix/Scaler_022.jpg" alt="Weber, gemalt von Schimon" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/digilib/servlet/Scaler?fn=persons/A0020xx/A002068/48.jpg&amp;dw=400&amp;dh=600" class="lytebox" data-lyte-options="group:person-iconography" data-title="Weber, Carl Maria von"><img src="resources/pix/Scaler_025.jpg" alt="Weber, Carl Maria von" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/digilib/servlet/Scaler?fn=persons/A0020xx/A002068/66.jpg&amp;dw=400&amp;dh=600" class="lytebox" data-lyte-options="group:person-iconography" data-title="Weber, Carl Maria von"><img src="resources/pix/Scaler_010.jpg" alt="Weber, Carl Maria von" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/digilib/servlet/Scaler?fn=persons/A0020xx/A002068/135.jpg&amp;dw=400&amp;dh=600" class="lytebox" data-lyte-options="group:person-iconography" data-title="Weber, Carl Maria von"><img src="resources/pix/Scaler_019.jpg" alt="Weber, Carl Maria von" height="55" width="40"/></a></li>
                        <li><a href="http://www.weber-gesamtausgabe.de/digilib/servlet/Scaler?fn=persons/A0020xx/A002068/145.jpg&amp;dw=400&amp;dh=600" class="lytebox" data-lyte-options="group:person-iconography" data-title="Weber, Carl Maria von"><img src="resources/pix/Scaler_011.jpg" alt="Weber, Carl Maria von" height="55" width="40"/></a></li>
                        <li><img src="resources/pix/Scaler_021.jpg" alt="Carl Maria von Weber, Bild von Caroline Bardua, 1821 (Quelle: Wikimedia)" title="Carl Maria von Weber, Bild von Caroline Bardua, 1821 (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler.jpg" alt="Büste im Weberhain Eutin (Quelle: Wikimedia)" title="Büste im Weberhain Eutin (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_015.jpg" alt="Das Geburtshaus von Carl Maria von Weber in Eutin (Quelle: Wikimedia)" title="Das Geburtshaus von Carl Maria von Weber in Eutin (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_002.jpg" alt="Das Carl-Maria-von-Weber-Museum in Hosterwitz (Quelle: Wikimedia)" title="Das Carl-Maria-von-Weber-Museum in Hosterwitz (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_006.jpg" alt="Das Grab von Weber auf dem Alten Katholischen Friedhof in Dresden (Quelle: Wikimedia)" title="Das Grab von Weber auf dem Alten Katholischen Friedhof in Dresden (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_004.jpg" alt="Schnuff-Stein in Erinnerung an Carl Maria von Webers Affen Schnuff an der Mauer der Hosterwitzer Kirche in Dresden (Quelle: Wikimedia)" title="Schnuff-Stein in Erinnerung an Carl Maria von Webers Affen Schnuff an der Mauer der Hosterwitzer Kirche in Dresden (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_026.jpg" alt="Briefmarkenblock der DDR (1986) zum 200. Geburtstag (Quelle: Wikimedia)" title="Briefmarkenblock der DDR (1986) zum 200. Geburtstag (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_023.jpg" alt="Bundesdeutsche Briefmarke (1986) zum 200. Geburtstag (Quelle: Wikimedia)" title="Bundesdeutsche Briefmarke (1986) zum 200. Geburtstag (Quelle: Wikimedia)" height="55" width="40"/></li>
                        <li><img src="resources/pix/Scaler_017.jpg" alt="Bundesdeutsche Briefmarke (1976) zum 150. Todestag (Quelle: Wikimedia)" title="Bundesdeutsche Briefmarke (1976) zum 150. Todestag (Quelle: Wikimedia)" height="55" width="40"/></li>
                    </ul>
                </div>
                
            </section>
            
        </div>
    </div>
</div>